*.c
*.cpp
*.ipynb
*.log
*.o
*.pdf
*.pyc
*.so
*.swp

.cache
.coverage
.idea/
.mypy_cache/
.project
.pydevproject
.pytest_cache/
.style.yapf
build/
cover
cython_debug/
dist/
docs/
doxy/
htmlcov/
mdkmc.egg-info/
mdlmc.egg-info/
src/
stats/
version_hash.py
